.App {
  display: inline-block;
  width: 300px;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.info input {
  align-self: center;
  width: 200px;
  height: 25px;
  padding: 0 10px;
  margin-bottom: 10px;
}

.info label{
  margin-left: 32px;
  margin-bottom: 5px;
}

.info button {
  margin-top: 20px;
  align-self: center;
  width: 100px;
  height: 30px;
}
