$upper-pic-height: 600px;
$upper-pic-width: 450px;

$greetings-box-height: 400px;
$greetings-box-width: 850px;

$tablet-shrink-ratio: 1.75;
$mobile-shrink-ratio: 3.55;

$border-radius: 15px;
$mobile-border-radius: 10px;

.bigwhole {
  &__whole {
    display: inline-flex;
    padding-left: 8em;
    padding-top: 5em;

    @include tablet {
      padding: 0;
    }

    &__outline {
      width: 100%;
      height: 100%;
      position: absolute;
      border: 2px solid rgb(255, 255, 255);
      top: 40px;
      left: 40px;
      z-index: -10;
      border-radius: $border-radius;

      @include mobile {
        top: 28px;
        left: 28px;
        border-radius: $mobile-border-radius;
      }
    }

    &__whole1 {
      height: $upper-pic-height;
      width: $upper-pic-width;
      position: relative;
      z-index: -9;

      @include tablet {
        height: calc(#{$upper-pic-height} / #{$tablet-shrink-ratio});
        width: calc(#{$upper-pic-width} / #{$tablet-shrink-ratio});
      }

      @include mobile {
        height: calc(#{$upper-pic-height} / #{$mobile-shrink-ratio});
        width: calc(#{$upper-pic-width} / #{$mobile-shrink-ratio});
      }

      img {
        height: 100%;
        margin: 20px;
        border-radius: $border-radius;

        @include mobile {
          border-radius: $mobile-border-radius;
        }
      }
    }

    &__whole2 {
      height: 400px;
      width: 850px;
      position: relative;
      left: -6em;
      top: 6em;

      @include tablet {
        height: calc(#{$greetings-box-height} / #{$tablet-shrink-ratio});
        width: calc(#{$greetings-box-width} / #{$tablet-shrink-ratio});
      }

      @include mobile {
        height: calc(#{$greetings-box-height} / #{$mobile-shrink-ratio});
        width: calc(#{$greetings-box-width} / #{$mobile-shrink-ratio});
      }

      &__greeting {
        opacity: $box-opacity;
        background-color: rgba(52, 24, 12, 1);

        font-size: 30px;
        font-weight: 100;
        font-family: "Dancing Script", sans-serif;
        color: white;

        height: 100%;
        width: 100%;
        margin: 20px;
        border-radius: $border-radius;
        padding-left: 1em;

        @include tablet {
          font-size: 21px;
        }

        @include mobile {
          font-size: 13px;
        }
      }

      &__outline {
        z-index: -8;
      }
    }
  }
  &__icon {
    height: fit-content;
    margin-top: 7em;
    @include flex(center, center);
    img {
      height: 8em;
      width: 55em;
      padding-top: 0;
    }
  }
  &__pic {
    margin-top: 7em;
    @include flex(center, center);
    img {
      width: 100em;
      height: 50em;
      border-radius: $border-radius;
    }
  }
  &__intro {
    margin-top: 50px;
    font-size: 80px;
    color: white;
    text-align: left;
    font-family: "Dancing Script", sans-serif;
  }
  &__concept {
    margin-top: 30px;
    font-size: 50px;
    color: white;
    text-align: left;
    font-family: "Dancing Script", sans-serif;
    border-top: 2px dotted white;
  }
  &__sign {
    text-align: right;
    margin-top: 2em;
    img {
      height: 6em;
      width: 20em;
    }
  }
}
