$image-width: 30em;
$image-width-tablet: 25em;
$image-width-mobile: 25em;

.allCategoryCards_container {
  display: grid;
  margin-top: 30px;
  row-gap: 2.5em;
  grid-template-columns: repeat(auto-fill, minmax($image-width, 1fr));
  margin-left: auto;
  margin-right: auto;
}
.category_container {
  color: white;
  width: $image-width;
  margin-left: auto;
  margin-right: auto;
  @include tablet {
    width: $image-width-tablet;
  }
  @include mobile {
    margin-left: auto;
    margin-right: auto;
    width: $image-width-mobile;
  }
  &-image {
    img {
      width: $image-width;
      height: $image-width;
      border-radius: 10px;
      padding-bottom: 2px;
      @include tablet {
        width: $image-width-tablet;
        height: $image-width-tablet;
      }
      @include mobile {
        width: $image-width-mobile;
        height: $image-width-mobile;
      }
    }
  }
  &-content {
    h3 {
      padding-top: 3px;
      font-weight: 300;
      padding-bottom: 2px;
    }
    h1 {
      font-size: 2em;
    }
    p {
      font-size: 1.35em;
      font-weight: 300;
    }
  }
}
