.login {
	@include mobile {
		@include flex(center, center);
	}

	&__image {
		position: absolute;
		top: 12%;
		left: 10%;
		z-index: 1;

		// &.signup{
		// 	left: 8%;
		// 	animation: left .3s ease-in-out;
		// }

		&__after{

		}

		img {
			height: 560px;
		}

		@include mobile {
			display: none;
			// position: relative;
		}
		@include tablet {
			display: none;
		}
	}

	&__logo {
		margin-bottom: 40px;

		img {
			height: 200px;
		}
	}

	&__form {
		display: block;
		position: absolute;
		height: 100vh;
		width: 64%;
		right: 0;
		@include flex(center, center);
		flex-direction: column;

		@include mobile {
			position: relative;
			background-image: url(./pngtree-cute-seamless-pattern-cartoon-cupcake-and-strawberry-png-image_8130376.png);
		}
		@include tablet {
			width: 100%;
			background-image: url(./pngtree-cute-seamless-pattern-cartoon-cupcake-and-strawberry-png-image_8130376.png);
		}

		&__item {
			margin-bottom: 20px;

			&__title {
				font-family: "Lobster", cursive;
				font-size: 21px;
				color: $text-primary-color;
			}

			input {
				width: 360px;
				line-height: 36px;
				font-family: "Lobster", cursive;
				font-size: 21px;
				background: $primary-color;
				color: $text-inverted-color;
				outline: none;
				border: none;
				padding: 0 15px;
				// padding-left: 20px;
				border-radius: 18px;
			}

			&__whole {
				@include flex(center, center);
				&__small {
					&__title {
						display: flex;
						font-family: "Lobster", cursive;
						font-size: 21px;
						color: $text-primary-color;
						input {
							width: 170px;
							margin-right: 10px;
							margin-left: 10px;
						}
					}
				}
			}
		}

		&__button {
			width: 360px;
			height: 45px;
			font-family: "Lobster", cursive;
			font-size: 28px;
			background-color: $button-primary-color;
			color: $text-primary-color;
			outline: none;
			border: none;
			cursor: pointer;
			border-radius: 12px;
			margin: 5px 3px;
		}

		&__login-button{
			@include mobile{
				margin-top: 50px;
			}
		}
	}
}
