.new-blog {
	&__form {
		@include flex(center, center);
		flex-direction: column;
		padding-top: 30px;

		input,
		textarea {
			width: 90%;
			outline: none;
			border: none;
			padding: 10px 15px;
			background: $primary-bg;
			color: $text-primary-color;
			border: 2px solid $text-secondary-color;
			border-radius: 12px;
			margin: 10px 0;

			&::-webkit-input-placeholder {
				color: $text-secondary-color;
			}

			&:is(:focus) {
				border-color: white;
				border-width: 3px;
			}
		}

		&__image {
			color: transparent;
			// @include flex(center, center);
			// flex-direction: column;

			&::-webkit-file-upload-button {
				visibility: hidden;
			}

			&::before {
				content: "Select image for this blog";
				display: inline-block;
				background: linear-gradient(top, #f9f9f9, #e3e3e3);
				border: 1px solid #999;
				border-radius: 3px;
				padding: 5px 8px;
				outline: none;
				white-space: nowrap;
				user-select: none;
				cursor: pointer;

				font-size: 10pt;
				font-family: "Playfair Display", serif;
			}

			&:hover::before {
				border-color: white;
				box-shadow: 1px 1px #fff;
			}

			&:active::before {
				background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
			}
			text-align: right;
		}

		&__quote {
			font-size: 2.5rem;
			font-family: "Old Standard TT", serif;
			font-style: italic;
			text-align: right;
		}

		&__title {
			line-height: 60px;
			font-size: 4rem;
			font-family: "Playfair Display", serif;
			text-align: center;
		}

		&__place {
			width: 50%;
			// line-height: 40px;
			font-size: 1.25rem;
			font-family: "Playfair Display", serif;
			text-align: center;
		}

		&__body {
			resize: none;
			height: 200px;
			text-align: justify;
			font-size: 1rem;

			&::-webkit-scrollbar {
				width: 0px;
			}
		}

		&__signature {
			text-align: right;
			font-size: 2rem;
			font-family: "Dancing Script", serif;
		}

		&__create-button {
			width: 40%;
			padding: 8px 30px;
			font-family: "Lobster", cursive;
			font-size: 26px;
			background-color: $button-primary-color;
			color: $text-primary-color;
			outline: none;
			border: none;
			cursor: pointer;
			border-radius: 25px;
			margin: 20px 3px;

			&:hover {
				background-color: $button-hover-color;
			}
		}
	}
}
