$primary-bg: #6d4e3c;
$primary-color: white;

$button-primary-color: #523321;

$text-primary-color: white;
$text-secondary-color: rgb(184, 184, 184);
$text-inverted-color: #9b755f;

$header-height: 170px;
$header-tablet-height: 100px;
$header-mobile-height: 80px;
$header-shrink-height: 100px;
$header-mobile-shrink-height: 50px;

$box-shadow: rgba(24, 16, 12, 0.7) 0px 20px 60px;
$text-box-shadow: rgba(24, 16, 12, 0.322) 4px 3px;

$box-opacity: 0.92;

$mobile-width: 720px;
$tablet-width: 1024px;
