$primary-bg: #6d4e3c;
$primary-color: white;

$text-primary-color: white;
$text-secondary-color: rgb(184, 184, 184);

$header-height: 170px;
$header-tablet-height: 70px;
$header-mobile-height: 40px;
$header-shrink-height: 70px;

$box-shadow: rgba(149, 157, 165, 0.4) 0px 8px 24px;

$mobile-width: 720px;
$tablet-width: 1024px;
